
.navbar-default {
  margin-bottom: 0px;
}

.navbar-brand {
  padding: 0px;
}

#microLogoDiv {
  max-width: 20%;
  max-width: 150px;
  margin: 0;
  padding-left: 20px;
  border: 0;
}

#microLogoImg {
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  height: 50%;
}

#banner {
  width: 100%;
  margin-bottom: 50px;
}

.textboxes {
  text-align: center;
}

.imgInLine {
  width: 100%;
}

@media (max-width: 540px) {
   .col-xxs {
      display:block;
      float:none;
      width: 100%
   }
}


#row1{
padding-top: 10px;
border: 0;
margin: 0;
/*display: inline-block;*/
}

.inline-block {
  display: inline-block;
}


#row3Container {
  padding-bottom: 40px;
}

#row4Container {
  padding:0;
  height: 50px;
}

#row4{
  background-color: #ccc;
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
  align-items: center;
}

#textFollowMS {
  padding-left: 40px;
}

.row4Elem {
  padding: 3px;
  margin-top: 5px;
}

#row5Container {
  padding:0;
  background: #F2F2F2;
}

#row5{
  display: inline-flex;
  background: #F2F2F2;
  width: 100%;
  margin: 0;
}

ul {
  list-style-type: none;
  margin-left: 40px;
  margin-right: 50px;
  padding: 0;
}

#row5ulLeft {
  padding-left: 30px;
}

.row5li {
  margin-bottom: 2px;
}

.row5P {
  margin-bottom: 5px;
  color: #626262;
}

.row5aLinks {
  color: #626262;

}

#row6Container {
  padding: 0;
}

#row6 {
  background: #F2F2F2;
  width: 100%;
  padding:0;
  margin: 0;
}


#engSinDiv{
  padding-left: 50px;
}


#bottomRightDiv {
  padding-right: 30px;
  background: #F2F2F2;
}

.bottomRightLinks {
  padding-left: 10px;
  padding-right: 10px;
  color: #626262;
}
